:root {
  --mainDark: #FBDAE0;
  --mainPink: #FBDAE0;
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.navbar-toggle:focus {
  outline: none;
}

.navbar-toggle {
  border: none;
}

.navbar-custom {
  background-color: #FBDAE0;
}


.footer-custom {
  background-color: #FBDAE0;
}

.img-thumbnail {
  max-width: 30%;
}

.logo {
  
  font-family: 'Ultra', serif;
}

.card-title {
  text-align: center;
}

nav {
  font-family: 'Rajdhani', sans-serif;
}

.navbar-nav li a:hover {
  color: rgb(230, 116, 137) !important;
}

h3, h5, h2, h4{
  font-family: 'Arvo', serif;
  font-size: 1rem;
}

h4 {
  text-align: center;
}

p {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
}

.carousel-inner img {
  width: 100%;
  margin: auto;
}
