:root {
  --mainDark: #FBDAE0;
  --mainPink: #FBDAE0;
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.navbar-toggle:focus {
  outline: none;
}

.navbar-toggle {
  border: none;
}

.navbar-custom {
  background-color: #FBDAE0;
}

Link:hover {
  color: var(--mainBlue);
}