:root {
  --mainDark: #FBDAE0;
  --mainPink: #FBDAE0;
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.navbar-toggle:focus {
  outline: none;
}

.navbar-toggle {
  border: none;
}

.navbar-custom {
  background-color: #FBDAE0;
}


.footer-custom {
  background-color: #FBDAE0;
}



ul li a:hover {
  color: var(--mainBlue);
}

nav {
  font-family: 'Indie Flower', cursive;
}

h3, h5, h2 {
  font-family: 'Arvo', serif;
}

p {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}



/*Link:hover {*/
/*  color: var(--mainBlue);*/
/*}*/